<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   	xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.caveofprogramming.spring.test.Animal">
        <property name="name" value="Igor" />
        <property name="type" value="lion" />
    </bean>

    <bean class="com.caveofprogramming.spring.test.Animal">
        <property name="name" value="Richard" />
        <property name="type" value="elephant" />
    </bean>

    <bean class="com.caveofprogramming.spring.test.Animal">
        <property name="name" value="Bob" />
        <property name="type" value="snake" />
    </bean>

    <bean id="jungle" class="com.caveofprogramming.spring.test.Jungle">
        <property name="foods"> <!-- This is a map -->
            <props>
                <prop key="gorilla">bananna</prop> <!-- Each of these is an entry in the 'foods' map. -->
                <prop key="panda">bamboo</prop>
                <prop key="snake">eggs</prop>
            </props>
        </property>

    </bean>



</beans>
