<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.caveofprogramming.spring.test.Person"
          scope="prototype" init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg value="Mary" name="name"/>
		<constructor-arg value="777" name="id"/>
		<property name="taxId">
			<value>123</value>
		</property>
        <property name="address" ref="address"/>
	</bean>

	<bean id="address" class="com.caveofprogramming.spring.test.Address">
		<constructor-arg name="street" value="1 Church Lane"/>
		<constructor-arg name="zipCode" value="90210"/>
	</bean>

</beans>
